
.resetB {
    margin:3em;
    font-size: x-large;
    font-weight: bold;
    background-color: teal;
    color: whitesmoke;
    border-radius:4px;
    padding:1em 2em 1em 2em;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edge {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
    justify-content: space-between;

}

.square {
    background-color: tomato;
    height: 60px;
    width: 60px;
    flex-shrink: 1;
}

.square:hover {
    background-color: black;
}