
.resetB {
    margin:3em;
    font-size: x-large;
    font-weight: bold;
    background-color: #0F66F0;
    color: whitesmoke;
    border-radius:4px;
    padding:1em 2em 1em 2em;
}
.resetB:hover {
    scale:1.1;
    background-color: #288DD7;
    border:solid black 2px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7ce6ee;
}

#edge {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    max-height: 960px;
    border: solid rgb(248, 53, 53) 30px;
    border-radius: 4px;

}

.square {
    background-color: grey;
    height: 60px;
    width: 60px;
    flex-shrink: 1;
}

.squareMoused {
    background-color: black;
    height: 60px;
    width: 60px;
    flex-shrink: 1;
}

.customSquare {
    background-color: grey;
    flex-shrink: 1;
}

.customSquareMoused {
    background-color: black;
    flex-shrink: 1;
}
